body{
  font-family: "Antic Didone", serif;
  font-style: normal;
  background-color:black;
}
header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
  url("pictures/icon.png");
max-width: 1800px;

  background-size: cover;
  background-position: center;
  background-repeat: none;
  text-align: center;
  padding: 90px 90px 90px 0;
margin-top: 20px;
display: block;
margin: 0 auto;
}
.nav-link{
  font-size: 26px;
  color:white;
  padding-left: 10px;
  letter-spacing: 2.5px;
}
.nav-link:hover{
  color: #fdb44b;
  cursor: pointer;
}
.cart{
  display: flex;
}
i{
font-size: 30px;
margin-top: 10px;
margin-left: 10px;
  color: #fdb44b;
  cursor: pointer;
}
i:hover{
  opacity: 0.8;
  color: white;
}
.cart-amount{
  font-size: 20px;
  font-weight: bold;
  float: left;
padding-left: 10px;
  color: white;
}
 h1{
  font-size: 90px;
  font-weight: 400;
  color:white;
}
.grid{
  margin-right:900px;
}
h2{
  padding-top: 10px;
  color:white;
  letter-spacing: 12px;
  font-weight: 500;
  font-size: 28px;
}
.sneak-peek{
  margin-top: -20px;
  font-size: 38px;
}
main p{
  font-weight: 800;
  letter-spacing: 1.5px;
}
container{
  background-color: white;
  max-width: 1400px;
 display: block;
 border-radius: 8px;
 padding-top: 20px;
 margin: 0 auto;
}
section{
  font-family: 700;
}
h3{
  font-size: 40px;
  letter-spacing: 1.5px;
margin-left: 70px;
margin: 50px;
}
h4{
  margin-top: 20px;
  font-weight: 500; 
}
p{
  color: black;
}
h5{
  font-size: 60px;
  color: white;
  padding-left: 30px;
  letter-spacing: 2px;
}
.main-2-column{
  padding-left: 110px;
  display: grid;
margin-bottom: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
}
.card{
  width: 240px;
margin-top: 20px;
}
.card-text {
  font-size: 27px;
  text-align: center;
}

.click{
  padding: 10px;
  margin-top: 20px;
  background-color:  #ff9a8d;
  border: none;
  width: 120px;
color: white;
  font-size: 18px;
  text-align: center;
  margin-left: 42px;
  border-radius: 8px;
}
.click:hover{
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.8;
}
.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}


a{
text-decoration: none;
font-weight: 600;
  color:black;

}
main img{
  border: 4px solid #fdb44b;
border-radius: 20px;

}
.btn {
  background-color:#fdb44b;
  border: none;
  color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  margin: 0 auto;
  margin-left: -100px;
  margin-top: 50px;
  cursor: pointer;
}
footer{
  margin-top: 20px;
  color: white;
  text-align: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("pictures/art-deco.jpg");
    color: rgb(204, 200, 200);
    font-weight: 400;
    font-style: normal;
    padding: 70px 30px;
}
footer a{
  color: white;
  text-decoration: underline;
}
@media(max-width:960px){
  header{
    padding: 30px 0;
    margin: 8px;
    margin-left: 8px;
  padding-left: 8px;
  }
  h1{
    font-size: 70px;
  }
  h2{
    font-size: 20px;
  }
 
  h5{
    font-size: 48px;
  }
  main img{
    width: 250px;
  }
  section img{
    width:280px;
 
    
  }
  .main-2-column{
    grid-template-columns: 1fr 1fr;
    padding-left: 18px;
  }
  .card{
    width: 180px;
    margin-top: 20px;
  }
  .click{
    margin:20px
  }
container{
  margin: 20px;
padding: 20px;
}
.btn {
  margin: 40px;
  padding: 15px 20px;
}
}