body{
  font-family: "Antic Didone", serif;

  font-style: normal;
  background-color: black;
}
container{
  background-color: white;
  max-width: 990px;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
}
section{
  font-family: 700;
}
h4{
  margin-top: 20px;
  font-weight: 500; 
}
a{
  text-decoration: dotted;
  color: black;
  opacity: 0.8;
}

li{
  list-style: none;
  display: flex;
}